!!! 5

html
  head

    title= title

    block styles

    block scripts

    script(type="text/javascript", src="public/javascripts/assertion_suites/" + assertionSuite + ".js")

    script(type="text/javascript", src="public/javascripts/socket.io/connector.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")

  body
    block body