!!! 5

html
  head
    block head

      block stylesheets

      block javascripts
        if assertionSuite
          script(type="text/javascript", src="javascripts/assertion_suites/" + assertionSuite + ".js")
        script(type="text/javascript", src="/socket.io/socket.io.js")
        script(type="text/javascript", src="javascripts/socket.io/connector.js")
  body
    block content