!!! 5

html
    head

        title= title

        block stylesheets

        block javascripts
            script(type="text/javascript", src="javascripts/assertion_suites/" + assertionSuite + ".js")
            script(type="text/javascript", src="/socket.io/socket.io.js")
            script(type="text/javascript", src="javascripts/socket.io/connector.js")

    body
        block content