extends layout

append head
  title Mocha Test-Runner

append stylesheets
  link(rel="stylesheet", href="stylesheets/mocha.css")

append javascripts
  if useBrowserify
    script #{bundle}
  else
    - each test in bundle
      script(type="text/javascript", src="test/" + test)
  script(type="text/javascript", src="javascripts/test_runner/mocha/mocha.js")
  script(type="text/javascript", src="javascripts/test_runner/mocha/mocha.setup.js")
  script(type="text/javascript", src="javascripts/test_runner/mocha/mocha.run.js")

append content
    div#mocha