extends layout

block append styles
    link(rel="stylesheet", href="public/stylesheets/mocha.css")

block append scripts
    - each test in tests
        script(type="text/javascript", src="test/" + test)

    script(type="text/javascript", src="public/javascripts/test_runner/mocha/mocha.js")
    script(type="text/javascript", src="public/javascripts/test_runner/mocha/mocha.setup.js")
    script(type="text/javascript", src="public/javascripts/test_runner/mocha/mocha.run.js")

block append body

div#mocha