extends layout

append stylesheets
    link(rel="stylesheet", href="stylesheets/mocha.css")

append javascripts
    script(type="text/javascript", src="javascripts/test_runner/mocha/mocha.js")
    script(type="text/javascript", src="javascripts/test_runner/mocha/mocha.setup.js")
    script(type="text/javascript", src="javascripts/test_runner/mocha/mocha.run.js")
    //- each test in tests
        //script(type="text/javascript", src="test/" + test)

append content
    div#mocha